<!DOCTYPE html>
<html	xmlns:th="http://thymeleaf.org"
		xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="utf-8">
<title>Detalhes Evento</title>
</head>
<body>
	<h1> Detalhes Evento</h1>
	<a href="/eventos"><button>Lista de Eventos</button></a>
	
	<div th:each="evento : ${evento}">
		<div class="row">
			<p>
				<span th:text="${evento.nome}"></span>
			</p>
			<p>
				<span th:text="${evento.local}"></span>	
			</p>
			<p><span th:text="${evento.data}"></span></p>
			<p><span th:text="${evento.horario}"></span></p>
		</div>
	</div>
	
	<form method="post">
		Nome:<input type="text" name="rg" }>
		Rg:<input type="text" name="nome" }>
		<button type="submit">Salvar Convidado</button>
	</form>
	
	<!-- 
	<table>
		<thead>
			<tr>
				<th>Nome<th>
				<th>Evento<th>
				<th>Data<th>
				<th>Horário<th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="evento : ${eventos}">
				<td><a th:href="${(#mvc.url('EC#detalhesEvento').arg(0, evento.id)).build()}"><span th:text="${evento.nome}"></span></a></td>
				<td><span th:text="${evento.local}"></span></td>
				<td><span th:text="${evento.data}"></span></td>
				<td><span th:text="${evento.horario}"></span></td>
			</tr>
		</tbody>
	</table>
	 -->
</body>
</html>